*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #00203FFF;
    text-align: center;
    color: white;
}
.header_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.header_div a{
    text-decoration: none;
    color: #ADEFD1FF;
    font-size: 25px;
    font-weight: bold;
    font-family: "Dosis", sans-serif;
}
.name_div{
    font-size: 12px;
    font-weight: bold;
    margin: 20px;
}
.navbar{
    display: flex;
    gap: 40px;
    list-style: none;
    margin-right: 30px;

}
.navbar li{
    display: inline;
    padding: 10px;
}
.navbar li a{
    text-decoration: none;
    color: #ADEFD1FF;
    font-size: 20px;
    font-weight: bold;
    font-family: "Dosis", sans-serif;
}
body{
    background-color: beige;
}

footer{
    background-color: #00203FFF;
    text-align: center;
    color: #ADEFD1FF;
    padding: 20px
}
.media_div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.media_div a{
    text-decoration: none;
    color: #ADEFD1FF;
    font-size: 25px;
    font-weight: bold;
    font-family: "Dosis", sans-serif;
    margin: 10px;
}